h1 {
    font-size: 5rem;
    margin-bottom: 0;
    position: relative;
    animation: moveCursor 2s infinite;
}

@keyframes moveCursor {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}